<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login</title>
</head>
<style>
.alert-error{
    margin-top: 5px; 
    font-size: 30px; 
    color: red; 
}
</style>
<body>

	 {% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li { % if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
		{% endif %}

	<form action="{% url 'login' %}" method="POST">
		{% csrf_token %}
		<input type="text" name="username" placeholder="Username/ Email">
		<input type="password" name="password" placeholder="Password">
		<button type="submit">Login</button>
	</form>

</body>
</html>