{% extends 'base.html' %}
{% load static %}
 {% block content %}
    
    <div class="content-wrapper">
             

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center alert-dismissible" style="margin-top: 10px;" role="alert">
                    {{ message }}
                </div>
             {% endfor %}
         {% endif %}

            <!-- START PAGE CONTENT-->
            <div class="page-heading">
                <h1 class="page-title">Reporters</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html"><i class="la la-home font-20"></i></a>
                    </li>
                    <li class="breadcrumb-item">Reporters</li>
                </ol>
            </div>
            <div class="page-content fade-in-up">
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Reporters</div>
                    </div>
                    <div class="ibox-body">
                        <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                    
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                    
                                </tr>
                            </tfoot>
                            <tbody>
                                
                                    {% for u in  reporter %}
                                        <tr>
                                            <td>{{u.username}}</td>
                                            <td>{{u.email}}</td>  
                                            <td>{{u.first_name}}{{u.last_name}}</td>
                                            <td><a href="{% url 'Edit' u.id %}"><button class="btn btn-warning btn-circle" style="height : 15px"><i class="fa fa-eye"></i></button ></a>
                                            <a href="{% url 'Delete' u.id %}"> <button class="btn btn-danger btn-circle" style="height : 15px"><i class="fa fa-times"></i></button >
                                            
                                            </td>
                                        </tr>
                                    {% endfor %}
                                   
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    
                </div>
            </div>
       {% endblock %}